.section.about {
    // height: 900px;
    background-image: url(./../img/about.png);
    background-size: cover;
    overflow: visible;
    background-color: $dark-gray;
    color: white;


    .container {
        overflow: hidden;
    }

    .about-content {
        float: right;
        padding-right: 20px;

        .about-headings-group {
            float: right;
            text-align: center;
            display: inline-block;

            .about-intro-title {
                display: inline-block;
            }
        }

        .about-intro-title {
            color: $light-gray;
            font-family: $league-spartan-stack;
            border-bottom: 1px solid $light-gray;
            font-size: 18px;
            letter-spacing: 0.01em;
            text-transform: uppercase;
            text-align: center;
            padding: 15px 45px;
            text-align: center;
        }

        .about-name {
            color: $light-gray;
            font-family: $cormorant-regular-stack;
            font-size: 40px;
            letter-spacing: 0.01em;
            text-transform: uppercase;  
            text-align: center; 
        }

        .about-title {
            color: $light-gray;
            font-family: $cormorant-regular-stack;
            font-size: 14px;
            letter-spacing: 0.29em;
            text-transform: uppercase;
            background-image: url(./../img/red-ribbon.png);
            background-repeat: no-repeat;
            background-position: 0 10px;
            padding: 18px 105px;
            text-align: center;
        }
       
        .about-description {
            font-family: $cormorant-regular-stack;
            color: $light-gray;
            font-size: 22px;
            text-align: right;
            line-height: 32px;
        }

        .about-description-inspiration {
            font-family: $cormorant-regular-stack;
            color: $light-gray;
            font-size: 14px !important;
            text-align: right;
            line-height: 34px;
        }
    }
}