.header {
    background: $light-gray;
    overflow: hidden;
    text-align: center;

    .header-description {
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.22em;
        text-align: center;
        font-family: $oswald-stack;
        color: $dark-gray;
    }

    .menu-toggler {
        display: none;
        margin: 20px 0;
        text-transform: uppercase;
        font-family: $lato-black-stack;
    }

    .nav {
        text-align: center;
        font-family: $cormorant-infant-stack;
        font-size: 24px;

        .nav-links {
            margin: 0 auto;
            list-style: none;
            display: flex;
            padding: 0;

            li {

                a {
                    color: $red;
                    padding: 0 20px;
                    border-bottom: none;
                }

                &:after {
                    content: '|';
                    color: $red;
                }

                &:last-of-type:after {
                    content: '';
                }
            }
        }
        
    }
    
    .logo-review-row {
        margin: 70px 0;
    }

    .reader-review {
        width: 507px;
        height: 196;
        padding: 20px 0;
        background-image: url('./../img/reviews-background.png');
        max-width: 100%;

        .reader-review-heading {
            color: $red;
            border-bottom: 1px solid $red;
            display: inline-block;
            padding: 5px 20px;
            margin-bottom: 20px;
            text-transform: uppercase;
            letter-spacing: 0.22em;
            font-size: 14px;
            font-family: $oswald-stack;
        }

        .reader-review-comment {
            font-family: $cormorant-garamond-stack;
            font-size: 22px;
            margin-bottom: 0;
        }

        .reader-review-author {
            text-transform: uppercase;
            letter-spacing: 0.18em;
            font-size: .9em;
            font-family: $lato-black-stack;
            font-weight: 900;
            color: $red;
            margin-bottom: 0;
            margin-top: 10px;
        }

        .reader-review-author-title {
            font-family: $lato-black-stack;
            font-weight: 900;
            text-transform: uppercase;
            letter-spacing: .2em;
            font-size: 11px;
            color: $dark-gray;
        }


    }
}