.header {
    background: $light-gray;
    overflow: hidden;
    text-align: center;

    .header-description {
        font-size: 16px;
        text-transform: uppercase;
        text-align: center;
        font-family: $fjalla-one;
        color: $dark-gray;
        line-height: 27px;
        letter-spacing: 0.24em;
    }

    .menu-toggler {
        display: none;
        margin: 20px 0;
        text-transform: uppercase;
        font-family: $lato-black-stack;
    }

    .logo {
        img {
            width: 140;
            height: 138;
        }
    }

    .tagline {
        font-size: 15px;
        text-transform: uppercase;
        font-family: $league-spartan-stack;
        color: $new-gray;
        margin-top: 7px;
        margin-bottom: 20px;
    }

    .nav {
        text-align: center;
        font-family: $playfair-display-stack;
        font-size: 24px;

        .nav-links {
            margin: 0 auto;
            list-style: none;
            display: flex;
            padding: 0;

            li {

                a {
                    color: $red;
                    padding: 0 15px;
                    border-bottom: none;
                }

                &:after {
                    content: '|';
                    color: $red;
                }

                &:last-of-type:after {
                    content: '';
                }
            }
        }
        
    }
    
    .logo-review-row {
        margin: 70px 0;
    }

    .reader-review {
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.3);
        width: 461px;
        max-width: 100%;
        padding: 20px 0;
        max-width: 100%;

        .reader-review-heading {
            color: $red;
            border-bottom: 1px solid $red;
            display: inline-block;
            padding: 5px 20px;
            margin-bottom: 20px;
            text-transform: uppercase;
            letter-spacing: 0.22em;
            font-size: 14px;
            font-family: $oswald-stack;
            position: relative;

            // Uncomment this for the tilde below the underline.
            // &:after {
            //     content: '';
            //     width: 20px;
            //     height: 5px;
            //     background: url(./../img/background-tilde.png);
            //     background-size: 100% 100%;
            //     position: absolute;
            //     bottom: -3px;
            //     left: 45%;
            // }
        }

        .reader-review-comment {
            font-family: $cormorant-garamond-stack;
            font-size: 22px;
            margin-bottom: 0;
        }

        .reader-review-author {
            text-transform: uppercase;
            letter-spacing: 0.18em;
            font-size: .9em;
            font-family: $lato-black-stack;
            font-weight: 900;
            color: $red;
            margin-bottom: 0;
            margin-top: 10px;
        }

        .reader-review-author-title {
            font-family: $lato-black-stack;
            font-weight: 900;
            text-transform: uppercase;
            letter-spacing: .2em;
            font-size: 11px;
            color: $dark-gray;
        }


    }
}