.section.reviews {
    background-color: $light-gray;

    .reviews-aside {
        text-align: right;

        .reviews-aside-title {
            text-transform: uppercase;
            color: $red;
        }

        .reviews-aside-subtitle {
            color: $dark-gray;
        }

        .reviews-aside-note {
            color: $red;
            font-weight: bold;
            text-transform: uppercase;
            font-size: .9em;
        }
    }

    .reviews-main {
        .reviews-main-title {
            text-align: center;
            color: $dark-gray;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 3.1em;
        }

        .reviews-main-subtitle {
            text-align: center;
            color: darken($dark-gray, 20%);
            font-size: 1.2em;
            margin-bottom: 30px;
        }
    }

   .buying-info {

        p {
            text-align: center;
        }
   } 
}