.section.showcase {
    background: $light-gray;

    .showcase-titles-container {
        position: relative;
        left: -115px;
    }

    .showcase-descriptions-container {
        position: relative;
        left: -50px;
        margin-top: 50px;
    }

    .showcase-title {
        text-align: center;
        font-size: 73.99px;
        color: $dark-gray;
        text-transform: uppercase;
        font-family: $league-spartan-stack;
        letter-spacing: -0.02em;
        margin-bottom: 0;

        span {
            font-weight: 300;
            font-size: 1em !important;
        }
    }

    .showcase-subtitle {
        color: $dark-gray;
        font-size: 24px;
        text-align: center;
        font-family: $crete-round-stack;
    }

    .showcase-description {
        font-size: 24px;
        color: $dark-gray;
        font-family: $crete-round-stack;
        letter-spacing: 0.034em;
    }

    .showcase-price {
        margin-top: 60px;
        font-family: $crete-round-stack;
        font-size: 34px;
        color: $dark-gray;
    }

    .buy-now {
        color: $dark-gray;
        text-transform: uppercase;
        margin-top: 10px;
        font-family: $lato-black-stack;
        font-size: 14px;
        margin-left: 8px;
    }

    .conclusive-title {
        margin-top: 55px;
        text-align: center;
        color: $dark-gray;
        font-size: 28px;
        font-family: $crete-round-stack;
    }
}