body {
    color: $dark-gray;
}

a {
    color: $golden;
    padding-bottom: 1px;

    &:hover {
        color: $dark-gray;
        text-decoration: none;
    }
}

.section {
    padding: 30px;
}

img {
    max-width: 100%;
}

.modal-lg {
    max-width: 100%;
}
