// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
    .section.header {
        .menu-toggler {
            margin-bottom: 0;
        }

        .reader-review {
            padding-left: 20px;
            padding-right: 20px;
        }

        .reader-review-comment {
            font-size: 18px;
        }

        .reader-review-author {
            font-size: .7em;
        }

        .reader-review-author-title {
            font-size: 9px;
        }
    }

    .section.showcase {
        .showcase-title {
            font-size: 53.99px;
        }

        .showcase-subtitle {
            font-size: 17px;
        }

        .showcase-description {
            font-size: 17px;
            margin-bottom: -18px;
        }

        .showcase-price {
            font-size: 18px;
        }
    }

    .section.reviews {
        .reviews-main-title {
            font-size: 28px !important;
        }

        .reviews-main-subtitle {
            font-size: 18px !important;
        }

        .buying-info-links {
            a {
                font-size: 18px;
            }
        }

        .buying-info-launch-price {
            font-size: 10px !important;
        }
    }

    .section.about {
        .about-title {
            padding: 18px 57px !important;
            letter-spacing: 1px !important;
        }

        .about-intro-title {
            font-size: 13px !important;
        }

        .about-name {
            font-size: 25px !important;
        }
    }

    .section.prefooter {


        .more-info-links {
            a { 
                display: block;
                font-size: 14px;

                &:first-of-type {
                    border-right: none;
                    padding-right: 0;
                    margin-bottom: 10px;
                }

                &:last-of-type {
                    padding-left: 0;
                }
            }
        }

        .social-links {

            .social-links-container {
                background: transparent !important;

                a {
                    padding-right: 10px !important;

                    img {
                        max-width: 30px !important;
                    }
                }
            }

        }
    }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
    .section.header {
        .header-description {
            font-size: 10px;
        }

        .menu-toggler {
            display: inline-block;
        }

        .nav {
            display: none;

            .nav-links {
                flex-direction: column;

                li {
                    padding: 5px 0;
                }

                li:after {
                    content: '';
                }
            }

        }
    }



    .section.reviews {

        .reviews-aside {
            text-align: center;

            br {
                display: none;
            }

            .reviews-aside-steps {
                list-style-type: decimal;


                li {
                    background-image: none;
                    min-height: auto;
                }
            }
        }

        .reviews-main {
            margin-top: 30px;
        }

        .buying-info {

            .buying-info-links {
                a {
                    display: block;

                    &:first-of-type {
                        border-right: none;
                        margin-bottom: 10px;
                    }
                }
            }

            .buying-info-details:before, .buying-info-details:after {
                content: '';
            }

        }

        .section.prefooter {

            .social-links {
                .social-links-container {
                    a {
                        padding-right: 20px;

                        img {
                            max-width: 10px;
                        }
                    }
                }
            }
        }

    }

    .section.prefooter {
        .blog-post {
            border-right: none;
        }

        .more-info-links {
            font-size: 10px;
        }
        
        .social-links-container {
            padding: 15px 0px;

            a {
                padding-right: 30px !important;

                img {
                    max-width: 20px !important;
                }
            }
        }

    }
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
    .conclusive-title {
        margin-bottom: 0 !important;
    }

    .reviews-aside {
        text-align: center !important;
        margin-bottom: 20px;

        br {
            display: none;
        }

        .reviews-aside-steps {
            list-style-type: decimal;


            li {
                background-image: none;
                min-height: auto;
            }
        }
    }

    .reviews-main {
        margin-top: 30px;
    }

    .section.prefooter {

        .social-media-section .happy-to-connect {
            font-size: 18px;
            line-height: 30px;
        }

        .social-links {
            a {
                padding-right: 30px !important;

                img {
                    max-width: 40px !important;
                }
            }
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
    .section.showcase {
        .showcase-titles-container {
            position: static;
            margin-top: 30px;
        }

        .showcase-descriptions-container {
            position: static;
            text-align: center;
        }

    }
}
