$font-stack-one: Georgia, 'Times New Roman', Times, serif;
 
$dark-gray: #5b5b5b;
$light-red: #c06d7a;
$lighter-red: #d399a1;
$lighter-gray: #909090;
$light-gray: white;
$prefooter-border-gray: #cfcfcf;
$new-gray: #bbbbbb;
$another-gray: #a6a6a6;
$review-aside-note-gray: #b2afaf;
$steps-gray: #858484;
$red: #ba2120;
$golden: #edb482;
$social-links-bg-color-gray: #ebebeb;

$oswald-stack: Oswald, sans-serif;
$cormorant-regular-stack: CormorantRegular, sans-serif;
$cormorant-infant-stack: CormorantInfantRegular, sans-serif;
$cormorant-garamond-stack: CormorantGaramondRegular, sans-serif;
$lato-black-stack: Lato, sans-serif;
$league-spartan-stack: LeagueSpartanBold, sans-serif;
$crete-round-stack: CreteRoundRegular, Georgia, 'Times New Roman', Times, serif;
$trocchi-regular-stack: TrocchiRegular, Georgia, 'Times New Roman', Times, serif;
$playfair-display-stack: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
$fira-sans-stack: 'Fira Sans', sans-serif;
$open-sans-stack: 'Open Sans', sans-serif;
$fjalla-one: 'Fjalla One', sans-serif;
