$font-stack-one: Georgia, 'Times New Roman', Times, serif;

$light-gray: white;

$dark-gray: #5b5b5b;

$red: #b51110;

$oswald-stack: Oswald, sans-serif;
$cormorant-regular-stack: CormorantRegular, sans-serif;
$cormorant-infant-stack: CormorantInfantRegular, sans-serif;
$cormorant-garamond-stack: CormorantGaramondRegular, sans-serif;
$lato-black-stack: Lato, sans-serif;
$league-spartan-stack: LeagueSpartanBold, sans-serif;
$crete-round-stack: CreteRoundRegular, Georgia, 'Times New Roman', Times, serif;
$trocchi-regular-stack: TrocchiRegular, Georgia, 'Times New Roman', Times, serif;