@import url('//fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Lato:900');

@font-face {
    font-family: CormorantInfantRegular;
    src: url(/fonts/comorant/CormorantInfant-Regular.otf);
}

@font-face {
    font-family: CormorantGaramondRegular;
    src: url(/fonts/comorant/CormorantGaramond-Regular.otf);
}

@font-face {
    font-family: LeagueSpartanBold;
    src: url(/fonts/league-spartan/LeagueSpartan-Bold.otf);
}

@font-face {
    font-family: CreteRoundRegular;
    src: url(/fonts/crete-round/CreteRound-Regular.otf);
}

@font-face {
    font-family: TrocchiRegular;
    src: url(/fonts/trocchi-regular/Trocchi.otf);
}


@import './variables';
@import './globals';
@import './helpers';

@import './sections/header';
@import './sections/video';
@import './sections/showcase';
@import './sections/reviews';