<section class="section about" id="about">
    <div class="container">
        <div class="about-content">
            <div class="about-headings-group">
                <h2 class="about-intro-title">Meet the Author</h2>
    
                <h1 class="about-name">Joshua Newton</h1>
    
                <h3 class="about-title">Soul Writer</h3>
            </div>

            <div class="clearfix"></div>


            <p class="about-description">
                    A former journalist and a thorough skeptic, <br>
                    Josh once disliked the concepts of ‘soul, ‘god’ etc. <br>
                    It took him many years of suffering to make him kneel <br>
                    before the silent, glowing truth hidden within. <br>
                    And once the inner journey began, <br>
                    his reversal of mind was steady and quick. <br>
                    Leaving behind a successful twin career in media and screenwriting, <br>
                    Josh took to a quiet life of contemplation and depth writing from the soul. <br>
                    Without any formal jobs or earnings, he began to share on social media, <br>
                    his learnings with whoever came asking. <br>
                    He calls himself ‘half a monk, half a monkey’ <br>
                    and continues to serve the needy with non-dual wisdom. <br>
            </p>

            <p class="about-description-inspiration">
                Joshua Netwon draws his inspiration mostly from the teachings of Ramana Maharishi, A Course in Miracles, and his own inner Self.
            </p>
        </div>
    </div>
</section>