<section class="section about" style="background-image: url(./img/baba.png)" id="about">
    <div class="container">
        <div class="about-content">
            <div class="about-headings-group">
                <h2 class="about-intro-title">Meet the Author</h2>
    
                <h1 class="about-name">Joshua Newton</h1>
    
                <h3 class="about-title">Soul Writer</h3>
            </div>

            <div class="clearfix"></div>


            <p class="about-description">

                A former journalist and a thourough skeptic, Josh <br> once disliked the idea of ‘Soul’m ‘God’, etc.<br>                It took him many years of suffering, to make him kneel<br> before the silent, glowing truth hudden within.<br>                And once the iner journey began, his reversal of mind was steady and quick.<br> Leaving a succesful twin
                career in media and screenwriting,<br> Josh took to quiet life of contemplation and depth writing from the
                soul.<br> Without any formal jobs or earnings, he began to share<br> on social media, his learnings with<br>                whoever came asking.<br> He calls himself ‘a half monk and a half monkey’ and<br> continues to serve the
                needy with advaitic wisdom.<br>

            </p>

            <p class="about-description-inspiration">
                <small>Joshua Netwon draws his inspiration mostly from the teachings of Ramana Maharishi, A Course in Miracles, and his own inner Self.</small>
            </p>
        </div>
    </div>
</section>