<footer class="section footer" id="contact">
    <div class="container">
        <img src="./../img/footer-logo.png" alt="Footer Logo">
        <h6 class="logo-caption">&copy; BODHY</h6>
        <p class="footer-text">
            Bodhy is a not-for-profit platform founded for spiritual education worldwide. Our fundamental guiding principles are based on advaita vedanta. For protective purpose the book series title ‘Soul Biscuits’ is guarded legaly under TradeMark (TM) license title is not to be used without prior written permisson from the management of
            the Bodhy Press. Thank you for your visiting.
        </p>
    </div>
</footer>