<header class="section header" id="home">
    <div class="container">
        <h2 class="header-description">The exclusive publisher of the soul writings of Joshua Newton</h2>

        <nav class="nav">
            <ul class="nav-links">
                <li><a href="#home">Home</a></li>
                <li><a href="#books">Books</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#blog">Blog</a></li>
                <li><a href="#newsletter">Newsletter</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>

        <div class="row logo-review-row">
            <div class="col-md-6">
                <div class="logo">
                    <img src="/img/logo.png" alt="Logo">
                </div>
            </div>
            <div class="col-md-6">
                <div class="reader-review">
                    <div class="reader-review-heading">Reader Reviews</div>

                    <p class="reader-review-comment">
                        “What a delightful bouquet of wisdom!”
                    </p>

                    <p class="reader-review-author">
                        Anjali Menon
                    </p>

                    <p class="reader-review-author-title">
                        Film-Maker
                    </p>
                </div>
            </div>
        </div>

    </div>
</header>