<section class="section prefooter">
    <div class="container">
        <div class="more-info-links">
            <a href="#">Read More About Josh</a>
            <a href="#">Read More About Bodhy</a>
        </div>

        <div class="row" id="blog">
            <div class="col-md-6">
                <h2 class="prefooter-heading">
                    <div class="prefooter-heading-inner">
                        Bodhy Blog
                    </div>
                </h2>

                <div class="blog-post">
                    <div class="post-category">
                        PERSONAL
                    </div>
                    <div class="post-title">
                        When I First Met Me,<br> I Wept and Wept...
                    </div>
                    <div class="post-date">
                        Monday, 11 September, 2017
                    </div>

                    <div class="post-exerpt">
                        What follows is my direct experience. And what could follow is yours. It’s five past three in the morning. This quite fills
                        in me an indescribable sweetness, that you want the world to wake up and come to you at all.
                    </div>

                    <div class="post-readmore">
                        <a href="#">Read Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6" id="newsletter">
                <h2 class="prefooter-heading">
                    <div class="prefooter-heading-inner newsletter-title">
                        Newsletter
                    </div>
                </h2>

                <p class="newsletter-description">
                    Follow Joshua Na Newtonn , your affectionate Soul Writer and author of ‘Soul Biscuits’ book series. Get fresh updates from
                    his Bodhy Blog, Instagram, Facebook Posts etc & more!
                </p>

                <div class="newsletter-box">
                    <div class="newsletter-box-inner">
                        <div class="row">
                            <div class="col-md-9 col-sm-9 col-9">
                                <h3 class="newsletter-box-title">
                                    Subscribe to our Newsletter
                                </h3>

                                <p class="newsletter-box-description">
                                    Subscribe to our mailing list to get the updates to your email inbox.
                                </p>
                            </div>
                            <div class="col-md-3 col-sm-3 col-3 newsletter-envelop-container">
                                <img class="float-right" src="./img/envelop.png" alt="Newsletter">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">

                                


<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
    <form action="//ranafaiz.us16.list-manage.com/subscribe/post?u=af4cb3039b65b58c235948282&amp;id=2adef99b8c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

        <div class="input-group newsletter-input-group">
            <input type="text" class="form-control" type="email" value="" name="EMAIL" id="mce-EMAIL">
            <span class="input-group-btn">
                <input type="submit" class="btn btn-secondary" value="Go!" type="button" id="mc-embedded-subscribe">
            </span>
        </div>

    </form>
</div>

<!--End mc_embed_signup-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row social-media-section">
            <div class="col-md-12">
                <h2 class="prefooter-heading">
                    <div class="prefooter-heading-inner">
                        Connect With Us
                    </div>
                </h2>

                <p class="happy-to-connect">
                    Let’s stay connected and share our love and blessings!
                </p>

                <div class="social-links">
                    <div class="social-links-container">
                        <a href="#">
                            <img src="./img/social-icons/ask.png" alt="Ask">
                        </a>
                        <a href="#">
                            <img src="./img/social-icons/facebook.png" alt="Facebook">
                        </a>
                        <a href="#">
                            <img src="./img/social-icons/instagram.png" alt="Instagram">
                        </a>
                        <a href="#">
                            <img src="./img/social-icons/sound-cloud.png" alt="SoundCloud">
                        </a>
                        <a href="#">
                            <img src="./img/social-icons/youtube.png" alt="YouTube">
                        </a>
                        <a href="#">
                            <img src="./img/social-icons/whatsapp.png" alt="WhatsApp">
                        </a>
                        <a href="#">
                            <img src="./img/social-icons/email.png" alt="Email">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>