<div class="section reviews">
    <div class="container">
        <div class="row">
            <div class="col-md-3 reviews-aside">
                <h2 class="reviews-aside-title">Read a <br>Free <br>Exerpt</h2>
                <p class="reviews-aside-subtitle"><a href="#">Click here</a> to <br>download a <br>preview book!</p>

                <h3 class="reviews-aside-title light">Read <br>Anywhere</h3>

                <ol class="reviews-aside-steps">
                    <li>Go to <br>Amazon</li>
                    <li>Buy a <br>Kindle <br>copy</li>
                    <li>Read it on any of your devices</li>
                </ol>

                <div class="reviews-aside-note">Once you buy<br> a kindle copy of the book,<br> you can read it on<br> phones, tablets,<br> palmtops, laptops<br>                    or desktops.</div>
            </div>
            <div class="col-md-9 reviews-main">
                <h1 class="reviews-main-title">Glowing Reviews On Amazon</h1>

                <h2 class="reviews-main-subtitle">'Soul Biscuits' Is Going Viral Around The World, Touching People's Hearts</h2>

                <div class="row reviews-list">
                    <div class="col-md-4 reviews-item">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="//placehold.it/80x90" alt="" class="img-responsive reviews-item-img">
                            </div>
                            <div class="col-md-8">
                                <h4 class="reviews-item-name">Prof. Bidwai</h4>
                                <h5 class="reviews-item-location">Lucknow</h5>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <p class="reviews-item-comments">What an enjoyable way to reflect upon meaningful life changing practices!</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 reviews-item">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="//placehold.it/80x90" alt="" class="img-responsive reviews-item-img">
                            </div>
                            <div class="col-md-8">
                                <h4 class="reviews-item-name">Prof. Bidwai</h4>
                                <h5 class="reviews-item-location">Lucknow</h5>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <p class="reviews-item-comments">What an enjoyable way to reflect upon meaningful life changing practices!</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 reviews-item">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="//placehold.it/80x90" alt="" class="img-responsive reviews-item-img">
                            </div>
                            <div class="col-md-8">
                                <h4 class="reviews-item-name">Prof. Bidwai</h4>
                                <h5 class="reviews-item-location">Lucknow</h5>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <p class="reviews-item-comments">What an enjoyable way to reflect upon meaningful life changing practices!</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 reviews-item">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="//placehold.it/80x90" alt="" class="img-responsive reviews-item-img">
                            </div>
                            <div class="col-md-8">
                                <h4 class="reviews-item-name">Prof. Bidwai</h4>
                                <h5 class="reviews-item-location">Lucknow</h5>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <p class="reviews-item-comments">What an enjoyable way to reflect upon meaningful life changing practices!</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 reviews-item">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="//placehold.it/80x90" alt="" class="img-responsive reviews-item-img">
                            </div>
                            <div class="col-md-8">
                                <h4 class="reviews-item-name">Prof. Bidwai</h4>
                                <h5 class="reviews-item-location">Lucknow</h5>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <p class="reviews-item-comments">What an enjoyable way to reflect upon meaningful life changing practices!</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 reviews-item">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="//placehold.it/80x90" alt="" class="img-responsive reviews-item-img">
                            </div>
                            <div class="col-md-8">
                                <h4 class="reviews-item-name">Prof. Bidwai</h4>
                                <h5 class="reviews-item-location">Lucknow</h5>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <p class="reviews-item-comments">What an enjoyable way to reflect upon meaningful life changing practices!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>