<section class="section reviews">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-12 reviews-aside">
                <h2 class="reviews-aside-title">
                    <span>Read a</span>
                    <span>Free</span>
                    <span>Exerpt</span>
                </h2>
                <p class="reviews-aside-subtitle"><a href="#">Click here</a> to <br>download a <br>preview book!</p>

                <h3 class="reviews-aside-title dark">
                    <span>Read</span>
                    <span>Anywhere</span>
                </h3>

                <ol class="reviews-aside-steps">
                    <li>
                        <span>Go to</span>
                        <span>Amazon</span>
                    </li>
                    <li>
                        <span>Buy a</span>
                        <span>Kindle</span>
                        <span>copy</span>
                    </li>
                    <li>
                        <span>Read it</span>
                        <span>on any of</span>
                        <span>your</span>
                        <span>devices</span>
                    </li>
                </ol>

                <div class="reviews-aside-note">Once you buy<br> a kindle copy of the book,<br> you can read it on<br> phones, tablets,<br> palmtops, laptops<br>                    or desktops.</div>
            </div>
            <div class="col-lg-10 col-md-12 reviews-main">
                <h1 class="reviews-main-title">Glowing Reviews On Amazon</h1>

                <h2 class="reviews-main-subtitle">'Soul Biscuits' Is Going Viral Around The World, Touching People's Hearts</h2>

                <div class="row reviews-list">
                    <div class="col-lg-4 col-md-6 col-sm-6 reviews-item">

                        <div class="media">
                            <img class="reviews-item-img" src="//placehold.it/80x103" alt="Generic placeholder image">
                            <div class="media-body d-flex align-self-end mr-3 flex-column">
                                <h4 class="reviews-item-name">Prof. Bidwai</h4>
                                <h5 class="reviews-item-location">Lucknow</h5>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <p class="reviews-item-comments">What an enjoyable way to reflect upon meaningful life changing practices!</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6 reviews-item">

                        <div class="media">
                            <img class="reviews-item-img" src="//placehold.it/80x103" alt="Generic placeholder image">
                            <div class="media-body d-flex align-self-end mr-3 flex-column">
                                <h4 class="reviews-item-name">Prof. Bidwai</h4>
                                <h5 class="reviews-item-location">Lucknow</h5>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <p class="reviews-item-comments">What an enjoyable way to reflect upon meaningful life changing practices!</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6 reviews-item">

                        <div class="media">
                            <img class="reviews-item-img" src="//placehold.it/80x103" alt="Generic placeholder image">
                            <div class="media-body d-flex align-self-end mr-3 flex-column">
                                <h4 class="reviews-item-name">Prof. Bidwai</h4>
                                <h5 class="reviews-item-location">Lucknow</h5>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <p class="reviews-item-comments">What an enjoyable way to reflect upon meaningful life changing practices!</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6 reviews-item">

                        <div class="media">
                            <img class="reviews-item-img" src="//placehold.it/80x103" alt="Generic placeholder image">
                            <div class="media-body d-flex align-self-end mr-3 flex-column">
                                <h4 class="reviews-item-name">Prof. Bidwai</h4>
                                <h5 class="reviews-item-location">Lucknow</h5>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <p class="reviews-item-comments">What an enjoyable way to reflect upon meaningful life changing practices!</p>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6 col-sm-6 reviews-item">

                        <div class="media">
                            <img class="reviews-item-img" src="//placehold.it/80x103" alt="Generic placeholder image">
                            <div class="media-body d-flex align-self-end mr-3 flex-column">
                                <h4 class="reviews-item-name">Prof. Bidwai</h4>
                                <h5 class="reviews-item-location">Lucknow</h5>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <p class="reviews-item-comments">What an enjoyable way to reflect upon meaningful life changing practices!</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6 reviews-item">

                        <div class="media">
                            <img class="reviews-item-img" src="//placehold.it/80x103" alt="Generic placeholder image">
                            <div class="media-body d-flex align-self-end mr-3 flex-column">
                                <h4 class="reviews-item-name">Prof. Bidwai</h4>
                                <h5 class="reviews-item-location">Lucknow</h5>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <p class="reviews-item-comments">What an enjoyable way to reflect upon meaningful life changing practices!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 buying-info">
                <p class="buying-info-links"><a href="#">Buy the book here</a> <a href="#">Get the free reader</a></p>
                <p class="buying-info-details">Soul Biscuits is a delicious book that I kept by my bedside. <br>There a lot to read and relish and learn!</p>
                <p class="buying-info-amazon">Amazon Verified Purchase Review</p>
                <p class="buying-info-launch-price">Launch Price: Only $2.99 or Rs. 150/-</p>
            </div>
        </div>
    </div>
</section>