<section class="section reviews">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-12 reviews-aside">
                <h2 class="reviews-aside-title">
                    <span>Read a</span>
                    <span>Free</span>
                    <span>Exerpt</span>
                </h2>
                <p class="reviews-aside-subtitle"><a href="#">Click here</a> to <br>download a <br>preview book!</p>

                <h3 class="reviews-aside-title dark">
                    <span>Read</span>
                    <span>Anywhere</span>
                </h3>

                <ol class="reviews-aside-steps">
                    <li>
                        <span>Go to</span>
                        <span>Amazon</span>
                    </li>
                    <li>
                        <span>Buy a</span>
                        <span>Kindle</span>
                        <span>copy</span>
                    </li>
                    <li>
                        <span>Read it</span>
                        <span>on any of</span>
                        <span>your</span>
                        <span>devices</span>
                    </li>
                </ol>

                <div class="reviews-aside-note">Once you buy<br> a kindle copy of the book,<br> you can read it on<br> phones, tablets,<br> palmtops, laptops<br>                    or desktops.</div>
            </div>
            <div class="col-lg-10 col-md-12 reviews-main">
                <h1 class="reviews-main-title">Glowing Reviews On Amazon</h1>

                <h2 class="reviews-main-subtitle">'Soul Biscuits' Is Going Viral Around The World, Touching People's Hearts</h2>

                <div class="row reviews-list">


                    <div class="col-lg-6 col-md-6 col-sm-6 reviews-item">

                        <div class="media">
                            <img class="reviews-item-img" src="./../img/reviews/02.png">
                            <div class="media-body d-flex align-self-end mr-3 flex-column">
                                <h4 class="reviews-item-name">Kristen Kloostra</h4>
                                <!-- <h5 class="reviews-item-location">Lucknow</h5> -->
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <p class="reviews-item-comments">So fresh and revealing, a must-read for anyone who is asking fundamental questions about their life and purpose!</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6 reviews-item">

                        <div class="media">
                            <img class="reviews-item-img" src="./../img/reviews/01.png">
                            <div class="media-body d-flex align-self-end mr-3 flex-column">
                                <h4 class="reviews-item-name">Joel Arcenas</h4>
                                <!-- <h5 class="reviews-item-location">Lucknow</h5> -->
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <p class="reviews-item-comments">Josh derives spiritual insights from Vedanta and channelled texts like ‘A Course In Miracles’ and brilliantly weaves it into a modern application for joyful and transformative living!</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6 reviews-item">

                        <div class="media">
                            <img class="reviews-item-img" src="./../img/reviews/05.png">
                            <div class="media-body d-flex align-self-end mr-3 flex-column">
                                <h4 class="reviews-item-name">Anjana Nair</h4>
                                <!-- <h5 class="reviews-item-location">Lucknow</h5> -->
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <p class="reviews-item-comments">This book is a gem. Sometimes we need a light to show us the way out of our accumulated ignorance. This precise, beautifully crafted book from Joshua is nothing but awesomeness!</p>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-6 col-md-6 col-sm-6 reviews-item">

                        <div class="media">
                            <img class="reviews-item-img" src="./../img/reviews/03.png">
                            <div class="media-body d-flex align-self-end mr-3 flex-column">
                                <h4 class="reviews-item-name">Athresh Gangadharan</h4>
                                <!-- <h5 class="reviews-item-location">Lucknow</h5> -->
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <p class="reviews-item-comments">Trust me, By the time you end this book you will not be the same person who started this book journey. Are you ready for miracles to unfold?</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 reviews-item">
                        
                        <div class="media">
                            <img class="reviews-item-img" src="./../img/reviews/04.png">
                            <div class="media-body d-flex align-self-end mr-3 flex-column">
                                <h4 class="reviews-item-name">Priya Dileep</h4>
                                <!-- <h5 class="reviews-item-location">Lucknow</h5> -->
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <p class="reviews-item-comments">A book that feels like a hug. Conversational, witty, profound and lyrical. These are lovely nuggets you would want to relish slowly and gently. Feeling humbled and hugged at once.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 buying-info">
                <p class="buying-info-links"><a href="https://www.amazon.in/Soul-Biscuits-Truthful-Living-Inspiration-ebook/dp/B075ZSQW1P/ref=sr_1_1?ie=UTF8&qid=1506750141&sr=8-1&keywords=soul+biscuits">Buy the book here</a> <a href="https://www.amazon.com/kindle-dbs/fd/kcp">Get the free reader</a></p>
                <p class="buying-info-details">Soul Biscuits is a delicious book that I kept by my bedside. <br>There a lot to read and relish and learn!</p>
                <p class="buying-info-amazon">Amazon Verified Purchase Review</p>
                <p class="buying-info-launch-price">Launch Price: Only $2.99 or Rs. 150/-</p>
            </div>
        </div>
    </div>
</section>
