<div class="section showcase">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <img class="img-responsive" src="//placehold.it/500x500" alt="Book in Different Devices">
            </div>
            <div class="col-md-4">
                <h1 class="showcase-title">Soul <br>Biscuits<span>&trade;</span>
                </h1>

                <h2 class="showcase-subtitle">Tiny Bites For Truthful Living<span>&trade;</span></h2>

                <p class="showcase-description">A collection of profound insights that could poetically transform your life for good!</p>

                <h4 class="showcase-price">Only $2.99 or Rs. 99/-</h4>

                <h6 class="buy-now">Buy Now From</h6>
                <img src="./img/amazon.png" alt="Buy Now from Amazon" class="img-responsive">

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h3 class="conclusive-title">A Soulful Book That Could Have An Astonishing Effect On Your Life!</h3>
            </div>
        </div>

    </div>
</div>