<section class="section video">
    <a href="#" data-toggle="modal" data-target="#video-modal">
        <img src="./img/video.png" alt="Video" class="video-thumbnail">
    </a>

    <!-- Modal -->
    <div class="modal fade" id="video-modal" tabindex="-1">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body" id="youtube-video-identifier">
                    <iframe height="600" class="embed-responsive embed-responsive-16by9" src="//www.youtube.com/embed/7wtfhZwyrcc?showinfo=0&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
